body {
  margin: 0;
  padding: 0;
  background: #1b1b1c;
  height: 100%;
  overflow: hidden;
}

.header{
  margin: 0 0 0 -35px;
  color: rgb(185, 174, 174);
  background: #2b2b2b;
  text-align: center;
  height: 30px;
}

.left-bar{
  position: absolute;
  background: #2b2b2b;
  height: 100% !important;
}

.element{
  color: #c2c2c2;
  margin-top: 2px;
}

.menu-drops{
  color: white;
  background: #3e3e3e;
  width: 100% !important;
}

.arrow-open {
  transform: rotate(45deg);
}

.element-in {
  color: #c2c2c2;
  margin-left: 80px !important;
}

.config-bar {
  background: #3a3a3a;
  height: 100%;
}

.config-bar-icon {
  margin: 10px 0 0 -15px !important;
}

.config-bar-config {
  position: fixed !important;
  bottom: 0 !important;
  margin-left: -14px !important;
}

.white {
  background-color: white;
}

.gray {
  background-color: #696969;
}

.navbar-item {
  background-color: #464646;
  border: 0.5px #333333 solid;
}

.navbar-item-selected {
  background-color: #1d1c1c;
}

.navbar-execute {
  position: fixed !important;
  right: 0 !important;
  margin: 3px 0 0 0;
  background-color: #16f316;
  color: white;
  font-weight: bold;
}

.navbar-execute:hover {
  background-color: #12ca12;
}

.navbar-execute:active {
  background-color: #069c06;
}

.code {
  position: relative;
}

.textarea-codigo {
  resize: none;
  width: 102%;
  margin: 0 0 0 -35px;
  padding-left: 35px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(line-number.png);
  background-size: 30px;
  background-attachment: local;
  background-repeat: no-repeat;
  border: 1px #1b1b1c solid;
  color: white;
  font-size: 13px;
}

.textarea-codigo:focus {
  outline: none !important;
}

.textarea-codigo::-webkit-scrollbar {
  width: 1em;
}

.textarea-codigo::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.textarea-codigo::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.output {
  margin: 0 0 0 -20px;
  border-top: 1px gray solid;
  color: white; 
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.nav-link {
  color: #c2c2c2;
}

.nav-link:hover {
  background-color: #2b2b2b;
  color: #a8a8a8;
}

.output-option {
  color: #e8e8e8;
  overflow-y: scroll;
  height: 280px;
}